<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		
		<!--
			Vue.js 数组更新检测
				
		-->
		<!--
			
				＃显示过滤/排序结果
				
					有时，我们想要显示一个数组的过滤或排序副本，而不实际改变或重置原始数据。在这种情况下，
				可以创建返回过滤或排序数组的计算属性。
					
		-->				
		<ul id="example">
			<li v-for="n in evenNumbers">
				{{ n }}
			</li>			
		</ul>
		
		
		<script type="text/javascript">
			
			var example = new Vue({
				
				el:'#example',
				
				data:{
					numbers:[1,2,3,4,5]
				},
				
				computed:{
					evenNumbers:function(){
						return this.numbers.filter(function(number){
							return number % 2 === 0
						})
					}
				}
			})
			
		</script>		
		<!--
				
				在计算属性不适用的情况下，你可以使用一个method方法：
			
		-->
		<ul id="example2">
			<li v-for="n in even(numbers)">{{ n }}</li>
		</ul>
		
		<script type="text/javascript">
			
			var example2 = new Vue({
				
				el:'#example2',
				
				data: {
				  numbers: [ 1, 2, 3, 4, 5 ]
				},
				methods: {
				  even: function (numbers) {
				    return numbers.filter(function (number) {
				      return number % 2 === 0
				    })
				  }
				}
			})
			
		</script>			
	</body>
</html>
