<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
			
		
		<!--<div id="demo">
			<template v-if="loginType === 'username'">
				<label>Username</label>
				<input type="text" name="" id="" value="" placeholder="Enter your username"/>
			</template>
			<template v-else>
				<label>Email</label>
				<input type="text" name="" id="" value="" placeholder="Enter your Email address"/>
			</template>	
			<button v-on:click="toggle">
				Toggle login type
			</button>
		</div>
		
		<script type="text/javascript">
			
			var demo = new Vue({
				
				el:'#demo',
				
				data:{
					loginType:'username'
				},
				
				methods:{
					toggle:function(){
						if( this.loginType === 'username'){
							this.loginType = 'email'
						}else{
							this.loginType = 'username'
						}
					}
				}
				
			})
			
		</script>		-->
		
		<div id="demo">
			<template v-if="loginType === 'username'">
				<label>Username</label>
				<input type="text" name="" id="" value="" placeholder="Enter your username" key="username-input"/>
			</template>
			<template v-else>
				<label>Email</label>
				<input type="text" name="" id="" value="" placeholder="Enter your Email address" key="email-input"/>
			</template>	
			<button v-on:click="toggle">
				Toggle login type
			</button>
		</div>
		
		<script type="text/javascript">
			
			var demo = new Vue({
				
				el:'#demo',
				
				data:{
					loginType:'username'
				},
				
				methods:{
					toggle:function(){
						if( this.loginType === 'username'){
							this.loginType = 'email'
						}else{
							this.loginType = 'username'
						}
					}
				}
				
			})
			
		</script>			
	</body>
</html>
